@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.left-nav-bar{
background-color: #043b42;
color: white;
height: 100vh;
position: fixed;
top: 0px;

.left-nav-title{

      font-family: 'Aclonica', sans-serif;
}
.left-nav-foot{
    position: absolute;
}
}