.user-setting-container
{
overflow: hidden;

.dropDownSettings{
    background-color: burlywood;
    

}
.hiddenToSlide{
height:0;
}
.visibleToSlide{
height:100%;
}

.pointerMe{
    cursor:pointer
}

}