@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Rajdhani:500,700&display=swap');

body {
  background: #efefef;
  min-height:100vh;
  min-width:100vw;
  font-family: Rajdhani, sans-serif;

}
#root{
  min-height:100vh;
  min-width:100vw;
   /* display: flex;
    align-items: center;
    justify-content:center; */
}
